body {
    font-family: "Arial, Helvetica, sans-serif";
}

h1 {
    text-align: center;
    margin: 90px 0 40px;

}

.wrap-content {
  max-width: 600px;
  margin: 0 auto;
}

/* ----------USER INPUT---------------*/

.delivery-input {
    margin: 0 auto 40px;
    padding: 20px;
    box-shadow: 5px 5px 5px black;
    border: 2px solid black;
    width: 100%;
}

.delivery-input input, select, textarea {
    font-size: 18px;
    margin-bottom: 20px;
    width: 100%;
    height: 30px;
}

.delivery-input input::placeholder {
    font-size: 12px;
}

form button {
}

textarea {
    height: 80px;
}

/* ----------PRODUCTS-------------- */

.product-list {
    top: 167px;
    left: 100px;
    padding: 15px 50px;
    box-shadow: 5px 5px 5px black;
    border: 2px solid black;
    width: 100%;
    margin-bottom: 20px;
    overflow-y: scroll;
    max-height: 200px;
}


.product {

    margin-bottom: 8px;
}

.product-price {

    float: right;
}

.product-name {
  width: 150px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}

/**/

@media(max-width: 360px) {
  .product-list {
    position: relative;
    max-width: 300px;
    top: 0;
    left: 0;

  }

  .delivery-input {
    margin: 0 auto 40px;
    max-width: 300px;
    box-shadow: 5px 5px 5px black;
    border: 2px solid black;


  }



}

@media(max-width: 1024px) {
  .product-list {
    position: relative;
    top: 0;
    left: 0;
    margin: 0 auto 40px;


  }

  .delivery-input {
    margin: 0 auto 40px;
    box-shadow: 5px 5px 5px black;
    border: 2px solid black;

  }



}

/* ----------SETTINGS-------------- */

.settings {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    padding: 25px;
    background-color: lightgray;
    box-shadow: 0 5px 5px darkgray;
}

.setting-option {
    border-radius: 5px;
    padding: 5px 10px;
    font-weight: bold;
    margin-right: 20px;
    cursor: pointer;
}

.setting-option.selected:not(#clearSettings) {

    box-shadow: 0 0 5px 2px black inset;
}

#setting1 {
    background-color: rgba(0, 0, 255, 0.5);
}

#setting2 {
    background-color: rgba(0, 255, 50, 0.5);
}

#clearSettings {
    background-color: rgba(255, 0, 50, 0.5);
}


/*butto disabled*/

button[disabled],
form input:invalid ~ button:not([disabled]) {
    display: none;
}
button:not([disabled]) ,
form input:invalid ~ button[disabled] {
    display:inline-block;
}
