/* ----------CUSTOM SETTINGS-------------- */

body.setting1 {

    /*TODO: Replace this...  */
    background-color: aliceblue;

}

body.setting2 {

    /*TODO: Replace this...  */
    background-color: cadetblue;

}